<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Credenciales</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="credential-content">
  <!-- Barra de código con datos de usuario -->
  <div class="code-section" [class.animated]="isAnimated">
    <pre class="code">
      <code>
        Nombre: {{ user.name }} <br>
        Apellido: {{ user.lastname }} <br>
        Email: {{ user.email }} <br>
        Teléfono: {{ user.phone }} <br>
        RUT: {{ user.rut }}
      </code>
    </pre>
  </div>

  <!-- Tarjeta de credencial -->
  <ion-card class="credential-card" (click)="toggleAnimation()">
    <ion-card-header>
      <ion-avatar slot="start" class="avatar">
        <img src="assets/avatar-placeholder.png" alt="Avatar">
      </ion-avatar>
      <ion-card-title>{{ user.name }} {{ user.lastname }}</ion-card-title>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
