<ion-header class="bg-dark">
  <ion-toolbar>
    <ion-title class="text-white">Buscar Viaje</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="text-white">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-dark text-white">
  <div class="modal-content">
    <ion-list>
      <ion-item *ngFor="let viaje of viajes" class="card-item">
        <ion-label>
          <h2 class="text-orange">{{ viaje.nombre }} {{ viaje.apellido }}</h2>
          <h3 class="text-grey">{{ viaje.modelo }} - {{ viaje.marca }}</h3>
          <p class="text-grey">Patente: {{ viaje.patente }}</p>
          <p>Capacidad: {{ viaje.capacidad }} personas</p>
          <p>Precio: <span class="text-orange">${{ viaje.precio }}</span></p>
          <p>Lugar: {{ viaje.lugar }}</p>
        </ion-label>
      
        <!-- Botón de aceptar -->
        <ng-container *ngIf="!viaje.aceptado">
          <ion-button color="success" (click)="accept(viaje)" class="btn-animated">
            Aceptar
          </ion-button>
        </ng-container>
      
        <!-- Botón de rechazar -->
        <ng-container *ngIf="!viaje.aceptado">
          <ion-button color="danger" (click)="reject(viaje)" class="btn-reject">
            <ion-icon name="trash"></ion-icon> Rechazar
          </ion-button>
        </ng-container>
      
        <!-- Mostrar ticket si el viaje es aceptado -->
        <div *ngIf="viaje.aceptado" class="ticket-accepted">
          <p class="text-success">¡Viaje Aceptado! 🎟️</p>
        </div>
      </ion-item>
      
    </ion-list>
  </div>
</ion-content>
  