/* Estilos generales de la página */
.bg-dark {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-left {
  flex: 1;
  text-align: center;
}

.header-right {
  margin-left: auto;
}

.app-title {
  color: #FFB800;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.tellevo {
  color: #FFFFFF; /* Blanco */
}

.app {
  color: #FFB800; /* Amarillo */
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section {
  width: 45%;
  margin: 10px 0;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
}

.section p {
  margin-top: 10px;
  font-size: 18px;
  z-index: 1;
  position: relative;
}

.section::before {
  content: '';
  position: absolute;
  top: -50px;
  right: -50px;
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 0;
  transition: top 0.3s ease, right 0.3s ease;
}

.section:hover::before {
  top: -40px;
  right: -40px;
}

.section.viajas {
  background-color: #666666;
}

.section.configuracion {
  background-color: #666666;
}

.section.publicar {
  background-color: #FFB800;
}

.section.historial {
  background-color: #FFB800;
}

.section.chat {
  background-color: #000000;
}

.section.perfil {
  background-color: #000000;
  color: #FFFFFF;
}

.section.preguntas {
  background-color: #EEEEEE;
  color: #1A1A1A;
}

.section.credencial {
  background-color: #EEEEEE;
  color: #1A1A1A;
}

/* Estilos específicos para el modal de perfil */
.perfil-content {
  background-color: #000000;
  color: #FFFFFF;
}
/* Estilos específicos para el modal de credencial */
.credencial-content {
  text-align: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
}

.user-name {
  color: #FFB800;
  font-size: 24px;
  font-weight: bold;
}

.user-email {
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 5px;
}

.career-box {
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: 2px solid #FFB800;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.career {
  font-size: 18px;
}

.qr-code {
  display: flex;
  justify-content: center;
}

.qr-image {
  width: 355px;
  height: 150px;
}
/* Estilos específicos para el modal de chat */
.chat-content {
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 5px;
  margin-right: 10px;
}

.user-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-name {
  color: #FFB800;
  font-size: 20px;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.message.received {
  background-color: #1A1A1A;
  color: #FFFFFF;
  align-self: flex-start;
}

.message.sent {
  background-color: #FFB800;
  color: #000000;
  align-self: flex-end;
}

.message .sender {
  font-weight: bold;
}

.message .text {
  margin-top: 5px;
  font-size: 16px;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chat-input textarea {
  flex: 1;
  background-color: #333333;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  font-size: 16px;
}

.chat-input button {
  background-color: #FFB800;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #FFA000;
}


/* Recuadros para la información del perfil */
.profile-box {
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: 2px solid #FFB800;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-box-title {
  font-size: 18px;
  font-weight: bold;
  color: #FFB800;
  margin-bottom: 10px;
}

.profile-box-content {
  font-size: 16px;
  color: #FFFFFF;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
}

.user-name {
  color: #FFB800;
  font-size: 24px;
  font-weight: bold;
}

.user-email,
.user-rut,
.user-phone,
.user-location,
.user-entry,
.user-semester {
  color: #FFFFFF;
  font-size: 16px;
  margin: 5px 0;
}

.certificates {
  margin-top: 20px;
}

.certificates-title {
  font-size: 18px;
  font-weight: bold;
  color: #FFB800;
  margin-bottom: 10px;
}

.certificates ul {
  list-style-type: none;
  padding: 0;
}

.certificates li {
  font-size: 16px;
  color: #FFFFFF;
  margin: 5px 0;
}

.registration-date {
  margin-top: 20px;
  text-align: center;
}

.registration-date p {
  font-size: 16px;
  color: #FFFFFF;
}

/* preguntas css */



/* Estilos para el botón de login */
.login-button {
  display: flex;
  align-items: center;
  background-color: #666666;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #FFA000;
}

.login-icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Estilos para los componentes de fecha y hora */
.ion-datetime {
  --color: #FFB800; /* Cambia el color del texto del selector de fecha y hora */
  --color-active: #FFB800; /* Cambia el color del texto seleccionado */
  --border-color: #FFB800; /* Cambia el color del borde */
}
.historial-content {
  .historial-box {
    border: 1px solid #666666; // Gris
    border-radius: 8px;
    padding: 16px;
    background-color: #000000; // Blanco
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .historial-box-title {
    font-size: 18px;
    font-weight: bold;
    color: #fffbfb; // Negro
    margin-bottom: 8px;
  }

  .historial-box-content {
    .viaje-info {
      margin-bottom: 16px;

      .viaje-date {
        font-size: 16px;
        color: #FFB800; // Amarillo
        font-weight: bold;
        margin: 4px 0;
      }

      .viaje-driver::before {
        content: "🚗 ";
        color: #000000; // Negro
      }

      .viaje-destination::before {
        content: "📍 ";
        color: #ffffff; // Negro
      }

      .viaje-driver,
      .viaje-destination {
        font-size: 16px;
        color: #ffffff; // Gris
        margin: 4px 0;
      }
    }
  }
}
