<ion-header>
  <ion-toolbar>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tarjeta Viajes -->
  <ion-card class="card" routerLink="/viajes">
    <img src="assets/icon/viajar2.svg" alt="Viajes" />
    <ion-card-content>
      <h2>Viajes</h2>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta Mensajes -->
  <ion-card class="card" routerLink="/mensajes">
    <img src="assets/icon/mensajes4.svg" alt="Mensajes" />
    <ion-card-content>
      <h2>Mensajes</h2>
    </ion-card-content>
  </ion-card>

  <!-- Fila con dos tarjetas -->
  <div class="card-row">
    <!-- Tarjeta Credencial -->
    <ion-card class="small-card" routerLink="/credencial">
      <img src="assets/icon/credencial3.svg" alt="Credencial" />
      <ion-card-content>
        <h2>Credencial</h2>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta Dudas -->
    <ion-card class="small-card" routerLink="/dudas">
      <img src="assets/icon/faq.svg" alt="Dudas" />
      <ion-card-content>
        <h2>Dudas?</h2>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="perfil">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notificaciones">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="vehiculo">
          <ion-icon name="car-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>