<<<<<<< HEAD
.bg-dark {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

.container {
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.app-title {
  color: #FFB800;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section {
  width: 45%;
  margin: 10px 0;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
}

.section p {
  margin-top: 10px;
  font-size: 18px;
  z-index: 1;
  position: relative;
}

.section::before {
  content: '';
  position: absolute;
  top: -50px;
  right: -50px;
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 0;
  transition: top 0.3s ease, right 0.3s ease;
}

.section:hover::before {
  top: -40px;
  right: -40px;
}

.section.viajas {
  background-color: #666666;
}

.section.configuracion {
  background-color: #666666;
}

.section.publicar {
  background-color: #FFB800;
}
.section.historial {
  background-color: #FFB800;
}
.section.chat {
  background-color: #000000;
}
.section.perfil {
  background-color: #000000;
}

.section.preguntas {
  background-color: #EEEEEE;
  color: #1A1A1A;
}
.section.credencial {
  background-color: #EEEEEE;
  color: #1A1A1A;
}

.icon {
  font-size: 40px;
  color: inherit;
  z-index: 1;
}
/* Estilos anteriores */

.map-container {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}
.app-title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.tellevo {
  color: #FFFFFF; /* Blanco */
}

.app {
  color: #FFB800; /* Amarillo */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-left {
  flex: 1;
  text-align: center;
}

.header-right {
  margin-left: auto; /* Alinea el contenido a la derecha */
}

.app-title {
  color: #FFB800;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.login-button {
  display: flex;
  align-items: center;
  background-color: #FFB800;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #FFA000;
}

.login-icon {
  font-size: 20px;
  margin-right: 10px;
}

=======
ion-toolbar {
  --background: #ffffff;
  --color: #000;
}

.weather-info {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.weather-info ion-icon {
  margin-left: 8px;
  font-size: 12px;
}

.card {
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  img {
    width: 100px; /* Tamaño fijo para el ancho */
    height: 100px; /* Tamaño fijo para la altura */
    border-radius: 10px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin ser recortada */
  }
}

.card:first-child {
  background-color: #fdd7e0; /* Color rosado claro */
}

.card:nth-child(2) {
  background-color: #32c787; /* Color verde */
}

.card-row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.small-card {
  width: 48%;
  text-align: center;
  border-radius: 10px;
  img {
    width: 100px; /* Tamaño fijo para el ancho */
    height: 100px; /* Tamaño fijo para la altura */
    border-radius: 10px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin ser recortada */
  }
}

.small-card:first-child {
  background-color: #fee0c0; /* Color durazno claro */
}

.small-card:nth-child(2) {
  background-color: #fcb59b; /* Color anaranjado claro */
}

ion-footer {
  --background: #032a4d; /* Color de fondo azul oscuro */
}

ion-tab-bar {
  --background: #032a4d; /* Color de fondo del tab bar */
  --color: #ffffff; /* Color del texto e íconos en estado inactivo */
  --color-selected: #ffcc00; /* Color del texto e íconos seleccionados */
}

ion-tab-bar ion-tab-button {
  color: #ffffff; /* Asegura que el texto sea blanco */
}

ion-tab-bar ion-tab-button[tab="vehiculo"] ion-icon {
  font-size: 32px; /* Tamaño mayor para el icono de vehículo */
}
>>>>>>> 0ddda75497949979e6302ea6131883539e85b11e
