<ion-header>
  <ion-toolbar>
    <ion-title>Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <img src="assets/icon/logoo.png" alt="Logo" class="logo">

    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label position="stacked">Inicio de sesión</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="usuario@tucorreo.cl" type="email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="Contraseña" type="password"></ion-input>
          <ion-icon name="eye-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-button expand="block" color="warning">Ingresar</ion-button>

        <div class="extra-options">
          <ion-button fill="clear" color="primary">Soy conductor</ion-button>
          <ion-button fill="clear" color="primary">Regístrate aquí!</ion-button>
          <ion-button fill="clear" color="primary">Quiero ser conductor!</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
