.login-container {
  text-align: center;
  margin-top: 50px;
}

.duoc-logo {
  height: 40px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

ion-card {
  width: 90%;
  margin: 0 auto;
}

.register-text {
  margin-top: 10px;
  font-size: 14px;
  color: white;
}

.register-link {
  color: var(--ion-color-warning); /* El mismo color del botón */
  text-decoration: none;
}

ion-button {
  --border-radius: 20px;
  margin-bottom: 10px;
}
