.login-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  ion-card {
    width: 90%;
    margin: 0 auto;
  }
  
  .extra-options {
    margin-top: 10px;
  }
  
  ion-button {
    --border-radius: 20px;
    margin-bottom: 10px;
  }
  