  ion-content {
    --background: var(--ion-background-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .toolbar {
    background-color: white;
  }

  .login-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .logo-header {
    width: 100px; /* Agrandar el logo */
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  .animated-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-45deg, #002855, #f2b500c9, #1e1e1e, #f4f5f8); /* Color amarillo ajustado */
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
    z-index: -1;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .content-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    border-radius: 15px;
  }

  .light-content {
    background-color: transparent;
  }

  .dark-content {
    background-color: white;
  }

  .app-name {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .light-text .tellevo {
    color: rgb(255, 255, 255);
  }

  .light-text .app {
    color: #f2b500b4; /* Color amarillo ajustado */
  }

  .dark-text .tellevo {
    color: black;
  }

  .dark-text .app {
    color: #f2b500b4; /* Color amarillo ajustado */
  }

  .register-btn {
    --border-radius: 20px;
    font-size: 1.2rem;
  }

  body.dark {
    --ion-background-color: #ffffff;
    --ion-text-color: #333;
    --ion-color-warning: #f2b500b4; /* Color amarillo ajustado */
  }

  body.light {
    --ion-background-color: #f4f5f8;
    --ion-text-color: #000;
  }

  .dark .register-btn {
    --color: #ffffff;
  }

  .dark * {
    background-color: #f4f5f8;
  }

  /* Nuevas transiciones y estilos para el botón de cambio de tema */
  ion-button {
    --color: white;
    --background: none;
    --border-radius: 50%;
    --padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  ion-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
  }

  ion-icon {
    font-size: 24px;
    transition: color 0.3s ease;
  }

  .dark ion-icon {
    color: #f2b500b4; /* Color amarillo claro en modo oscuro */
  }

  .light ion-icon {
    color: #000; /* Color oscuro en modo claro */
  }

  /* Transición suave para el cambio de temas */
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
