ion-content {
  --background: var(--ion-background-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toolbar {
  background-color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.duoc-logo {
  height: 40px;
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-45deg, #002855, #f7b500, #1e1e1e, #f4f5f8);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
  z-index: -1;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  border-radius: 15px;
}

.light-content {
  background-color: transparent;
}

.dark-content {
  background-color: white;
}

.app-name {
  font-size: 4rem; /* Agranda el tamaño de la letra */
  font-weight: bold;
  margin-bottom: 50px;
}

.light-text .tellevo {
  color: white;
}

.light-text .app {
  color: #f7b500;
}

.dark-text .tellevo {
  color: black; /* Cambia el color a negro en el tema oscuro */
}

.dark-text .app {
  color: #f7b500; /* Mantiene el color del texto de la app */
}

.register-btn {
  --border-radius: 20px;
  font-size: 1.2rem;
}

body.dark {
  --ion-background-color: #ffffff;
  --ion-text-color: #333;
  --ion-color-warning: #f7b500;
}

body.light {
  --ion-background-color: #f4f5f8;
  --ion-text-color: #000;
}

.dark .register-btn {
  --color: #ffffff; /* Cambia el color del texto del botón a blanco en el tema oscuro */
}
.dark *{
  background-color: #f4f5f8;
}
