<ion-header>
  <ion-toolbar>
    <ion-title class="logo-container">
      <img src="https://reqlut2.s3.sa-east-1.amazonaws.com/reqlut-images/duoc/logo_duoc_white.png?v=62.8" alt="Duoc UC Logo" class="logo-header">
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="animated-background"></div>

  <div class="content-container" [ngClass]="{'light-content': !isDarkMode, 'dark-content': isDarkMode}">
    <div class="app-name" [ngClass]="{'light-text': !isDarkMode, 'dark-text': isDarkMode}">
      <span class="tellevo">TeLlevo</span>
      <span class="app">App</span>
    </div>

    <!-- Botón con animación de rebote -->
    <ion-button #startButton expand="block" color="warning" class="register-btn" routerLink="/iniciarsesion">
      COMENZAR
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
