<ion-header>
  <ion-toolbar>
    <ion-title>TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <p class="moontaxi pulse">TellevoApp</p>


  <a href="http://ridethemoontaxi.com/">
    <div id="moon">
      <div class='cab-group'>
        <div class='cab cab1'>
          <div class='container'>
            <img alt='' src='assets/r8AUDI-removebg-preview.png'>
          </div>
        </div>
        <div class='cab cab2'>
          <div class='container'>
            <img alt='' src='assets/r8AUDI-removebg-preview.png'>
          </div>
        </div>
        <div class='cab cab3'>
          <div class='container'>
            <img alt='' src='assets/r8AUDI-removebg-preview.png'>
          </div>
        </div>
        <div class='cab cab4'>
          <div class='container'>
            <img alt='' src='assets/r8AUDI-removebg-preview.png'>
          </div>
        </div>
        <div class='cab cab5'>
          <div class='container'>
            <img alt='' src='assets/r8AUDI-removebg-preview.png'>
          </div>
        </div>


        <div id="world"></div>


        <div class="tower tower1">
          <span></span>
          <span></span>
        </div>


        <div class="tower tower2">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>


        <div class="tower tower3">
          <span></span>
        </div>
        <div><img class="plane" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Airplane_GA_Black.svg/768px-Airplane_GA_Black.svg.png"/></div>
        <div class="tower tower4">
          <span></span>
        </div>


        <div class="tower tower5">
        </div>


        <div class="tower tower6">
        </div>
      </div>
    </div>
  </a>
</ion-content>
