<ion-header>
  <ion-toolbar>
    <img src="assets/icon/logoo.png" alt="Logo" class="logo-header">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <ion-card class="contenedor-register">
      <ion-card-content>
        <ion-item lines="none">
          <ion-label position="stacked" class="registro-label"><h1>Registro</h1></ion-label>
        </ion-item>
        <ion-label position="floating">RUT (Ej: 12345678-9)</ion-label>
        <ion-input type="text" [(ngModel)]="user.rut" required></ion-input>
        
        <ion-item lines="none">
          <ion-input placeholder="usuario@tucorreo.cl" type="email" [(ngModel)]="user.email" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="Nombre" type="text" [(ngModel)]="user.name" required=""></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="Apellido" type="text" [(ngModel)]="user.lastname" required=""></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="Contraseña" type="password"  [(ngModel)]="user.password" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input placeholder="Confirmar contraseña" type="password"   required></ion-input>
        </ion-item>
        
        <ion-item lines="none">
          <ion-input placeholder="+56" type="tel" [(ngModel)]="user.phone" required></ion-input>
        </ion-item>

        <ion-button expand="block" color="warning" (click)="register()">Registrarme</ion-button>
        <ion-button expand="block" color="warning" (click)="irAInicioSesion()">Iniciar Sesión</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
